table {
	padding:10px;
	border-collapse: collapse;
	width: 50%;
	margin:auto;
  }
  
  th,
  td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  /*옮길때 불투명으로 보이는 부분*/
  tr.dragging {
	opacity: 0.5;
  }
  
  /* 별개 부분 */
  a {
	text-decoration: none;
	color: inherit;
  }
  .tab {
	display: flex;
	align-items: center;
	padding: 1rem;
  }
  .tab__item {
	padding: 0.6rem 1.3rem;
	margin-right: 1rem;
	border: 1px solid #ddd;
	border-radius: 2rem;
  }
  .tab__item.active {
	display: inline-block;
	border: 1px solid #b81c0f;
	background-color: #b81c0f;
	color: #fff;
  }
  .tab__content-wrapper {
	padding: 1rem
  }
  .tab__content {
	display: none;
  }
  .tab__content.active {
	display: block;
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:300);
.menuCategory {   
  zoom: 1;
  overflow: hidden;
  padding: 0px 1% 10px;
  margin: 2% 1  1%;
  /* box 안에서 위  */
  top:1000px;}
  

.menuCategory li {
      
  list-style:none;
  float: left;
  width: 90%;
   /* 옆크기 */
  min-width: 19px;
  color: #c0b0b0;
  margin: 5% 5%  1%;}
  /* li a 간에 위 아래 마진, */

    .menuCategory li a {
      
      height:47px;
      /* 높이 */
      border-radius: 1.3rem;
      /* 타원형 R value */
      text-decoration:none;
      color: #43008f;
      /* 라인 글 짜색 */
      display: block;
     
      /* li a 크기 */
      padding: 1px 7px 4px;
      /* 위 좌우  */  
      font-size: 30px;
      line-height: 30px;
      border: 1px solid #ef0303;
      text-align: center;
      transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 3px solid #180c0c; 
      /* 표라인 색상 */
      -webkit-box-sizing: border-box;}   

/* 모달창 start */
	  .modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal .bg {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
	}
	
	.modalBox {
		position: absolute;
		background-color: #fff;
		width: 700px;
		height: 300px;
		padding: 15px;
	}
	
	.modalBox button {
		padding: 1px 5px;
		float: right;
	}
	.modalBox p {
		width: 100%;
		margin: 50px 0;	
	}
	
	.hidden {
		display: none;
	}
	.openBtn {
		display: block;
		margin: 230px auto;
	}
	/* 모달창 End */