<!DOCTYPE html>

<head> 
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/userAdministrationTotall.css">
  <script src="/js/home/userAdministrationTotall.js" defer></script>

</head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=euc-kr">

	
    <title>Document</title>

<body>
 <h2>회원관리</h2>
 
 <div class = box >
      
     <ul class="menuCategorys">

      <li><a href="/userAdministration">이용권</a></li> 
      <!-- <li><a >구매회원</a></li>  -->
      <li><a >전체회원</a></li>  
        
    </ul>
      </div>
    
    
      
    
    <!-- 탭 내용 영역 //////////////////////////////////// -->
    <!-- 일일 매출표 -->
   <div> 
          <table class="session" cellspacing="1" id="po">
          <tbody>
             <tr>
               <th scope="row">이름</th>
              <th scope="row">전화번호</th>
               <th scope="row">상품타입</th>
               <th scope="row">남은시간</th>
               
               <tbody class = "ks">
                </tbody>
             </tr>
            </tbody>
          
         </table>
         
   
     
   
      
  

  <div class="pagination-container">
  
    <div class="number-button-wrapper"><span class="number-button">1</span></div>
    
  </div>
</div>
</body>



 
    
  
  




</html>



